<%- include('../userLayouts/header.ejs') %>


    <div class="page-wrapper">
        
        <%- include('../userLayouts/pageHeader.ejs') %>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <% if ( cartItems === null || cartItems.products.length === 0 ) { %>
                <div class="page-content">
                    <div class="cart">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <table class="table table-cart table-mobile">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
    
                                        <tbody>
                                            <tr>
                                                
                                                <td class="price-col"></td>
                                                <td class="quantity-col">
                                                    <div class="cart-product-quantity">
                                                        
                                                    </div><!-- End .cart-product-quantity -->
                                                </td>
                                                <td class="total-col"></td>
                                                <td style="font-weight: 500;">There Has No Products Available on Cart</td>
                                            </tr>
                                        </tbody>
                                    </table><!-- End .table table-wishlist -->

                                </div><!-- End .col-lg-9 -->
                                <aside class="col-lg-3">
                                    <div class="summary summary-cart">
                                        <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
    
                                        <table class="table table-summary">
                                            <tbody>
                                                <tr class="summary-shipping">
                                                    <td>Products :</td>
                                                    <td>&nbsp;</td>
                                                </tr>
    
                                                <tr class="summary-shipping-row">
                                                    <td>
                                                        <p>No Products Available</p>
                                                    </td>
                                                    <td>₹ 0.00</td>
                                                </tr><!-- End .summary-shipping-row -->
    
                                                <tr class="summary-total">
                                                    <td>Total:</td>
                                                    <td>₹ 00.00</td>
                                                </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->
    
                                    </div><!-- End .summary -->
    
                                    <a href="category" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .cart -->
                </div><!-- End .page-content -->
            <% } else { %>
                <div class="page-content">
                    <div class="cart">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <table class="table table-cart table-mobile">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
    
                                        <tbody>
                                            <% if (outOfStockItems.length > 0) { %>
                                                <div class="alert alert-warning">
                                                  Some items are out of stock:
                                                  <ul>
                                                    <% outOfStockItems.forEach(item => { %>
                                                      <li><%= item.name %></li>
                                                    <% }) %>
                                                  </ul>
                                                </div>
                                              <% } %>
                                            <% for (let i = 0; i < cartItems.products.length; i++) { %>
                                                <tr>
                                                    <td class="product-col">
                                                        <div class="product">
                                                            <figure class="product-media">
                                                                <a href="#">
                                                                    <img src="<%= CLOUDINARY_IMAGE_PREFIX %><%= cartItems.products[i].product.product_image[0]%>" alt="Product image">
                                                                </a>
                                                            </figure>
        
                                                            <h3 class="product-title">
                                                                <a href="/product?id=<%= cartItems.products[i].product._id %>&photoNumber=0" ><%= cartItems.products[i].product.name %></a>
                                                            </h3><!-- End .product-title -->
                                                        </div><!-- End .product -->
                                                    </td>
                                                    <% if (cartItems.products[i].product.offer !== 0) { %>
                                                        <td class="price-col">₹ <%= cartItems.products[i].product.salePrice %></td>
                                                    <% } else { %>
                                                        <td class="price-col">₹ <%= cartItems.products[i].product.price %></td>
                                                    <% } %>
                                                    <td class="quantity-col">
                                                        <div class="cart-product-quantity">
                                                            <input data-cart-item-id="<%= cartItems.products[i]._id %>"  type="number" class="form-control" value="<%= cartItems.products[i].quantity %>" min="1" max="5" step="1" data-decimals="0" onchange="updateCartItem('<%= cartItems.products[i].product._id %>', this.value, '<%= cartItems.products[i].product._id %>')" onfocus="this.dataset.prevValue = this.value">
                                                        </div><!-- End .cart-product-quantity -->
                                                    </td>
                                                    <% if (cartItems.products[i].product.offer !== 0) { %>
                                                        <td class="total-col" data-subtotal-id="<%= cartItems.products[i].product._id %>" >₹ <%= cartItems.products[i].product.salePrice * cartItems.products[i].quantity %></td>
                                                    <% } else { %>
                                                        <td class="total-col" data-subtotal-id="<%= cartItems.products[i].product._id %>" >₹ <%= cartItems.products[i].product.price * cartItems.products[i].quantity %></td>
                                                    <% } %>
                                                    <td class="remove-col"><button onclick="deleteItemFromCart('<%= cartItems.products[i].product._id %>')" class="btn-remove"><i class="icon-close"></i></button></td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table><!-- End .table table-wishlist -->
                                </div><!-- End .col-lg-9 -->
                                <aside class="col-lg-3">
                                    <div class="summary summary-cart">
                                        <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
    
                                        <table class="table table-summary">
                                            <tbody>
                                                <tr class="summary-shipping">
                                                    <td>Products :</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                
                                                <% for (let i = 0; i < cartItems.products.length; i++) { %>
                                                    <tr class="summary-shipping-row">
                                                        <td>
                                                            <p><%= cartItems.products[i].product.name %> : </p>
                                                        </td>
                                                        <td data-total-id="<%= cartItems.products[i].product._id %>" >₹ <%= cartItems.products[i].product_total %>.00</td>
                                                    </tr><!-- End .summary-shipping-row -->
                                                <% } %>
                                            
                                                <tr class="summary-total">
                                                    <td>Total:</td>
                                                    <td data-subtotal-cartTotal-id ="idForUpdatingThePriceBeforeSelectingShipping">₹ <%= cartItems.total_price %>.00</td>
                                                </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->
    
                                        <a href="checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                                    </div><!-- End .summary -->
    
                                    <a href="shop" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .cart -->
                </div><!-- End .page-content -->
            <% } %>
            
        </main><!-- End .main -->

        <%- include('../userLayouts/pageFooter.ejs') %>
        
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <script>
        function deleteItemFromCart(cartItemId, check = 'deleteProduct') {
            fetch('/cart', { // Corrected URL to include userId in the route
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ cartItemId: cartItemId, check : check}),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if(data.message == 'Failed') {
                        console.log('user Not Found')
                    } else {
                        window.location.reload();
                    };
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        };


        // To update the cart when quantity chage

        function updateCartItem(cartItemId, newQuantity, cartTotalId) {
            fetch('/cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ cartItemId, newQuantity })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Parse the response JSON
                return response.json();
            })
            .then(data => {

                if (data.message == 'out of stock' ) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Out of Stock',
                        text: 'The item you are trying to add is currently out of stock.',
                        confirmButtonText: 'Okay'
                    }).then(() => {
                        // Reload the page after the user clicks "Okay"
                        location.reload();
                    });
                } else if (data.message == 'Success' ) {
                    // Update the quantity in the UI without reloading the page
                    const quantityInput = document.querySelector(`input[data-cart-item-id="${cartItemId}"]`);
                    if (quantityInput) {
                        quantityInput.value = newQuantity;
                    }

                    const subtotalCell = document.querySelector(`td[data-subtotal-id="${cartItemId}"]`);
                    if (subtotalCell) {
                        subtotalCell.textContent = `₹ ${data.totalPrice}`;
                    }

                    const cartTotal = document.querySelector(`td[data-subtotal-cartTotal-id="idForUpdatingThePriceBeforeSelectingShipping"]`);
                    if (cartTotal) {
                        cartTotal.textContent = `₹ ${data.cartTotal}.00`;
                    }
                    
                    const total = document.querySelector(`td[data-total-id="${cartItemId}"]`);
                    if (total) {
                        total.textContent = `₹ ${data.totalPrice}.00`;
                    }
                }
                
            })
            .catch(error => {
                console.error('Error:', error);
            });
        };

    </script>


<%- include('../userLayouts/footer.ejs') %>