    <%- include('../userLayouts/header.ejs') %>

    <div class="page-wrapper">
        <header class="header header-intro-clearance header-4">

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="/" class="logo">
                            <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form id="searchForm" action="/shop" method="GET">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">

                        <% if (typeof loginOrCart.user_id == 'undefined') {
                                %>
                                <div class="wishlist">
                                    <a href="login" title="Wishlist">
                                        <h4 class="Personal-Login btn btn-danger" style="margin: 0px; border-radius: 100px;">Log in</h4>
                                    </a>
                                </div><!-- End .compare-dropdown -->
                                <%
                            } else {
                                %>
                                <div class="header-right">
                                    <div class="dropdown compare-dropdown">
                                        <a href="wishlist" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                            <i class="icon-heart" ></i>
                                        </a>
                    
                                    </div><!-- End .compare-dropdown -->
                    
                                    <div class="dropdown cart-dropdown">
                                        <a href="cart" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">
                                            <i class="icon-shopping-cart"></i>
                                            <% if (cartItemsForCartCount == null) { %>
                                                <span class="cart-count">0</span>
                                            <% } else { %>
                                                <span class="cart-count"><%= cartItemsForCartCount.length %></span>
                                            <% } %>
                                        </a>
                                    </div><!-- End .cart-dropdown -->
                                    <div class="dropdown compare-dropdown">
                                        <a href="profile" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                            <i class="icon-user"></i>
                                        </a>
                                    </div><!-- End .compare-dropdown -->
                                </div><!-- End .header-right -->
                            <% } %>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                Browse Categories <i class="icon-angle-down"></i>
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        <li class="item-lead"><a href="/shop?off=offers">Offers</a></li>
                                        <% if (categories.length > 8) { %>
                                            <% for (let i = 0; i < 8; i++) { %>
                                                <li><a href="/shop?cat=<%= categories[i].name %>"><%= categories[i].name %></a></li>
                                                <% } %>
                                        <% } else { %>
                                            <% for (let i = 0; i < categories.length; i++) { %>
                                                <li><a href="/shop?cat=<%= categories[i].name %>"><%= categories[i].name %></a></li>
                                            <% } %>
                                        <% } %>
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <nav class="main-nav text-center">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" >Home</a>
                                </li>
                                <li>
                                    <a href="shop" >Shop</a>
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">more</a>

                                    <ul>
                                        <li>
                                            <a href="about" >About</a>
                                        </li>
                                        <li>
                                            <a href="contact" >Contact</a>
                                        </li>
                                        <li><a href="faq.html">FAQs</a></li>
                                    </ul>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <div class="intro-slider-container mb-5">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" 
                    data-owl-options='{
                        "dots": true,
                        "nav": false, 
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
                    <div class="intro-slide" style="background-image: url(/assets/images/demos/demo-4/slider/slide-1.png);">
                        <div class="container intro-content">
                            <div class="row justify-content-end">
                                <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                    <h3 class="intro-subtitle text-third">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                                    <h1 class="intro-title">Stunner By</h1>
                                    <h1 class="intro-title">Samsung Galaxy S25</h1><!-- End .intro-title -->

                                    <div class="intro-price">
                                        <sup class="intro-old-price">₹1,15,999.00</sup>
                                        <span class="text-third">
                                            ₹1,04,999<sup>.00</sup>
                                        </span>
                                    </div><!-- End .intro-price -->

                                    <a href="/shop" class="btn btn-primary btn-round">
                                        <span>Shop More</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </a>
                                </div><!-- End .col-lg-11 offset-lg-1 -->
                            </div><!-- End .row -->
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide" style="background-image: url(/assets/images/demos/demo-4/slider/slide-2.png);">
                        <div class="container intro-content">
                            <div class="row justify-content-end">
                                <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                    <h3 class="intro-subtitle text-primary">New Arrival</h3><!-- End .h3 intro-subtitle -->
                                    <h1 class="intro-title">Apple iPad Pro <br>12.9 Inch, 64GB </h1><!-- End .intro-title -->

                                    <div class="intro-price">
                                        <sup>Today:</sup>
                                        <span class="text-primary">
                                            ₹1,999<sup>.00</sup>
                                        </span>
                                    </div><!-- End .intro-price -->

                                    <a href="/shop" class="btn btn-primary btn-round">
                                        <span>Shop More</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </a>
                                </div><!-- End .col-md-6 offset-md-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .intro-slider owl-carousel owl-simple -->

                <span class="slider-loader"></span><!-- End .slider-loader -->
            </div><!-- End .intro-slider-container -->

            <% if (categories.length == 0) { %>
            <% } else { %>
                <div class="container" style="background-color: #e1d1cb; border-radius: 10px; padding-top: 2rem;">
                    <h2 class="title text-center mb-4">Explore Popular Categories</h2><!-- End .title text-center -->
                    
                    <div class="cat-blocks-container">
                        <div class="row justify-content-center" style="display: flex;">
                            <% for (let i = 0; i < categories.length; i++) { %>
                                <div class="col-6 col-sm-4 col-lg-2">
                                    <a href="/shop?cat=<%= categories[i].name %>" class="cat-block">
                                        <figure>
                                            <span>
                                                <img src="/assets/images/productImages/<%= categoryImages[i] %>" alt="Category image">
                                            </span>
                                        </figure>
        
                                        <h3 class="cat-block-title"><%= categories[i].name %></h3><!-- End .cat-block-title -->
                                    </a>
                                </div><!-- End .col-sm-4 col-lg-2 -->
                            <% } %>
                        </div><!-- End .row -->
                    </div><!-- End .cat-blocks-container -->
                </div><!-- End .container -->
            <% } %>

            <div class="mb-4"></div><!-- End .mb-4 -->

            <div class="mb-3"></div><!-- End .mb-5 -->

            <div class="container new-arrivals">
                <div class="heading heading-flex mb-3">
                    <div class="heading-left">
                        <h2 class="title">New Arrivals</h2><!-- End .title -->
                    </div><!-- End .heading-left -->

                   <div class="heading-right">
                        <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="new-all-link" data-toggle="tab" href="#new-all-tab" role="tab" aria-controls="new-all-tab" aria-selected="true">All</a>
                            </li>
                        </ul>
                   </div><!-- End .heading-right -->
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel just-action-icons-sm">
                    <div class="tab-pane p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>

                                <% for (let i = 0; i < newArrivals.length; i++) { %>
                                    <div class="product product-2">
                                        <figure class="product-media">
                                            <!-- <span class="product-label label-circle label-top">Top</span> -->
                                            <% if (newArrivals[i].offer != 0) { %>
                                                <span class="product-label label-circle label-top">offer</span>
                                                <span class="product-label label-circle label-new">New</span>
                                            <% } else { %>
                                                <span class="product-label label-circle label-new">New</span>
                                            <% } %>
                                            <a href="/product?id=<%= newArrivals[i]._id %>&photoNumber=0">
                                                <img src="/assets/images/productImages/<%= newArrivals[i].product_image[0] %>" alt="Product image" class="product-image">
                                            </a>
        
                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                            </div><!-- End .product-action -->
        
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->
        
                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#"><%= newArrivals[i].category %></a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/product?id=<%= newArrivals[i]._id %>&photoNumber=0"><%= newArrivals[i].name %></a></h3><!-- End .product-title -->
                                            <% if (newArrivals[i].offer != 0) { %>
                                                <div class="product-price">
                                                    <span class="new-price">₹<%= newArrivals[i].salePrice %>.00</span>
                                                    <span class="old-price" style="text-decoration: line-through;">₹<%= newArrivals[i].price %>.00</span>
                                                </div><!-- End .product-price -->
                                            <% } else { %>
                                                <div class="product-price">
                                                    ₹<%= newArrivals[i].price %>.00
                                                </div><!-- End .product-price -->
                                            <% } %>
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                <% } %>
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container -->

            <div class="mb-6"></div><!-- End .mb-6 -->

            <div class="container">
                <div class="heading text-center mb-3">
                    <h2 class="title">Deals & Outlet</h2><!-- End .title -->
                    <p class="title-desc">Today’s deal and more</p><!-- End .title-desc -->
                </div><!-- End .heading -->

                <% if (dealOfTheDay) { %>
                    <div class="row">
                        <div class="col-lg-12 deal-col">
                            <div class="deal" style="background-image: url('/assets/images/demos/demo-4/deal/bg-1.jpg');">
                                <div class="deal-top">
                                    <h2>Deal of the Day.</h2>
                                    <h4>Limited quantities. </h4>
                                </div><!-- End .deal-top -->
    
                                <div class="deal-content">
                                    <h3 class="product-title"><a href="/product?id=<%= dealOfTheDay._id %>&photoNumber=0"><%= dealOfTheDay.name %> with Amazing AI Features</a></h3><!-- End .product-title -->
    
                                    <div class="product-price">
                                        <span class="new-price">₹<%= dealOfTheDay.salePrice %>.00</span>
                                        <span class="old-price">Was ₹<%= dealOfTheDay.price %>.00</span>
                                    </div><!-- End .product-price -->
    
                                    <a href="/product?id=<%= dealOfTheDay._id %>&photoNumber=0" class="btn btn-link"><span>Shop Now</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .deal-content -->
    
                                <div class="deal-bottom">
                                    <div class="deal-countdown daily-deal-countdown" data-until="+10h"></div><!-- End .deal-countdown -->
                                </div><!-- End .deal-bottom -->
                            </div><!-- End .deal -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                <% } %>

                <div class="more-container text-center mt-1 mb-5">
                    <a href="/shop  " class="btn btn-outline-dark-2 btn-round btn-more"><span>Shop more Outlet deals</span><i class="icon-long-arrow-right"></i></a>
                </div><!-- End .more-container -->
            </div><!-- End .container -->

            <div class="container">
                <hr class="mb-0">
                <div class="owl-carousel mt-5 mb-5 owl-simple" data-toggle="owl" 
                    data-owl-options='{
                        "nav": false, 
                        "dots": false,
                        "margin": 30,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "420": {
                                "items":3
                            },
                            "600": {
                                "items":4
                            },
                            "900": {
                                "items":5
                            },
                            "1024": {
                                "items":6
                            }
                        }
                    }'>
                    <a href="#" class="brand">
                        <img src="/assets/images/brands/1.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="assets/images/brands/2.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="assets/images/brands/3.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="assets/images/brands/4.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="assets/images/brands/5.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="assets/images/brands/6.png" alt="Brand Name">
                    </a>
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->

            <div class="bg-light pt-5">
                <div class="container trending-products">
                    <div class="heading heading-flex mb-3">
                        <div class="heading-left">
                            <h2 class="title">Trending Products</h2><!-- End .title -->
                        </div><!-- End .heading-left -->

                       <div class="heading-right">
                            <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="trending-top-link" data-toggle="tab" role="tab" aria-controls="trending-best-tab" aria-selected="false">Best Selling</a>
                                </li>
                            </ul>
                       </div><!-- End .heading-right -->
                    </div><!-- End .heading -->

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="tab-content tab-content-carousel just-action-icons-sm">
                                <div class="tab-pane p-0 fade show active" id="trending-best-tab" role="tabpanel" aria-labelledby="trending-best-link">
                                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                        data-owl-options='{
                                            "nav": true, 
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                }
                                            }
                                        }'>
                                        <% if (topSellingProducts.length != 0) { %>
                                            <% for (let i = 0; i < topSellingProducts.length; i++) { %>

                                                <div class="product product-2">
                                                    <figure class="product-media">
                                                        <span class="product-label label-circle label-top">Top</span>
                                                        <a href="/product?id=<%= topSellingProducts[i]._id %>&photoNumber=0">
                                                            <img src="/assets/images/productImages/<%= topSellingProducts[i].product_image[0] %>" alt="Product image" class="product-image">
                                                        </a>
                                                    </figure><!-- End .product-media -->
        
                                                    <div class="product-body">
                                                        <div class="product-cat">
                                                            <a href="/shop?cat=<%= topSellingProducts[i].category %>"><%= topSellingProducts[i].category %></a>
                                                        </div><!-- End .product-cat -->
                                                        <h3 class="product-title"><a href="/product?id=<%= topSellingProducts[i]._id %>&photoNumber=0"><%= topSellingProducts[i].name %></a></h3><!-- End .product-title -->
                                                        <% if (topSellingProducts[i].offer != 0) { %>
                                                            <div class="product-price">
                                                                <span class="new-price">₹ <%= topSellingProducts[i].salePrice %>.00</span>
                                                                <span class="old-price" style="text-decoration: line-through;">₹ <%= topSellingProducts[i].price %>.00</span>
                                                            </div><!-- End .product-price -->
                                                        <% } else { %>
                                                            <div class="product-price">
                                                                ₹ <%= topSellingProducts[i].price %>.00
                                                            </div><!-- End .product-price -->
                                                        <% } %>
                                                    </div><!-- End .product-body -->
                                                </div><!-- End .product -->
                                            <% } %>
                                        <% } %>

                                    </div><!-- End .owl-carousel -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .col-xl-4-5col -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .bg-light pt-5 pb-6 -->

            <div class="mb-5"></div><!-- End .mb-5 -->

            <div class="bg-light pt-5">
                <div class="container trending-products">
                    <div class="heading heading-flex mb-3">
                        <div class="heading-left">
                            <h2 class="title">Trending Categories</h2><!-- End .title -->
                        </div><!-- End .heading-left -->

                       <div class="heading-right">
                            <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="trending-top-link" data-toggle="tab" role="tab" aria-controls="trending-best-tab" aria-selected="false">Best Selling</a>
                                </li>
                            </ul>
                       </div><!-- End .heading-right -->
                    </div><!-- End .heading -->

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="tab-content tab-content-carousel just-action-icons-sm">
                                <div class="tab-pane p-0 fade show active" id="trending-best-tab" role="tabpanel" aria-labelledby="trending-best-link">
                                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                                        data-owl-options='{
                                            "nav": true, 
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                }
                                            }
                                        }'>
                                        <% if (topSellingCategories.length != 0) { %>
                                            <% for (let i = 0; i < topSellingCategories.length; i++) { %>

                                                <div class="product product-2">
                                                    <figure class="product-media">
                                                        <span class="product-label label-circle label-top">Top</span>
                                                        <a href="/shop?cat=<%= topSellingCategories[i].name %>">
                                                            <img src="/assets/images/productImages/<%= topSellingCategoriesImage[i] %>" alt="Product image" class="product-image">
                                                        </a>
                                                    </figure><!-- End .product-media -->
        
                                                    <div class="product-body">
                                                        <h3 class="product-title"><a href="/shop?cat=<%= topSellingCategories[i].name %>"><%= topSellingCategories[i].name %></a></h3><!-- End .product-title -->
                                                    </div><!-- End .product-body -->
                                                </div><!-- End .product -->
    
                                            <% } %>
                                        <% } %>

                                    </div><!-- End .owl-carousel -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .col-xl-4-5col -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .bg-light pt-5 pb-6 -->

            <div class="mb-5"></div><!-- End .mb-5 -->  
             
        </main><!-- End .main -->

        <footer class="footer">
            <div class="cta bg-image bg-dark pt-4 pb-5 mb-0" style="background-image: url(/assets/images/demos/demo-4/bg-5.jpg);">
            </div><!-- End .cta -->
            
            <%- include('../userLayouts/pageFooter.ejs') %>

        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>    

<%- include('../userLayouts/footer.ejs') %>
