<%- include('../userLayouts/header.ejs') %>


    <div class="page-wrapper">

        <%- include('../userLayouts/pageHeader.ejs') %>

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="/category">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#">Products</a></li>
                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top mb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery">
                                    <div class="product-images">
                                        <figure class="main-image" id="main-image">
                                            <img id="product-zoom" src="/assets/images/productImages/<%= product.product_image[imagePos] %>" data-zoom-image="assets/images/products/single/extended/3-big.jpg" alt="Image Unavailable">
                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->
                                    </div>
                                    
                                    <div id="product-zoom-gallery" class="product-image-gallery">
                                        <a class="product-gallery-item" href="/product?id=<%= product._id %>&photoNumber=0" data-image="assets/images/products/single/extended/1.jpg" data-zoom-image="assets/images/products/single/extended/1-big.jpg">
                                            <img src="/assets/images/productImages/<%= product.product_image[0] %>" alt="Image Unavailable">
                                        </a>

                                        <a class="product-gallery-item" href="/product?id=<%= product._id %>&photoNumber=1" data-image="assets/images/products/single/extended/2.jpg" data-zoom-image="assets/images/products/single/extended/2-big.jpg">
                                            <img src="/assets/images/productImages/<%= product.product_image[1] %>" alt="Image Unavailable">
                                        </a>

                                        <a class="product-gallery-item" href="/product?id=<%= product._id %>&photoNumber=2" data-image="assets/images/products/single/extended/3.jpg" data-zoom-image="assets/images/products/single/extended/3-big.jpg">
                                            <img src="/assets/images/productImages/<%= product.product_image[2] %>" alt="Image Unavailable">
                                        </a>

                                        <a class="product-gallery-item" href="/product?id=<%= product._id %>&photoNumber=3" data-image="assets/images/products/single/extended/4.jpg" data-zoom-image="assets/images/products/single/extended/4-big.jpg">
                                            <img src="/assets/images/productImages/<%= product.product_image[3] %>" alt="Image Unavailable">
                                        </a>

                                    </div><!-- End .product-image-gallery -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title"><%= product.name %></h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                    </div><!-- End .rating-container -->

                                    <% if ( product.offer !== 0 ) { %>
                                        <div class="product-price">
                                            <span class="new-price">₹ <%= product.salePrice %></span>
                                            <span class="old-price" style="text-decoration: line-through;">₹ <%= product.price %></span>
                                            <span class="offer-label label-sale">(<%= offerData.offer_percentage %>%off)</span>
                                        </div><!-- End .product-price -->
                                    <% } else { %>
                                        <div class="product-price">
                                            ₹ <%= product.price %>.00
                                        </div><!-- End .product-price -->
                                    <% } %>

                                    <div class="details-filter-row details-row-size">
                                        <label for="size">Ram:</label>
                                        <div >
                                            <input value="<%= product.ram %>" style="width: 30px; margin-right: 3em;" class="form-control" readonly>
                                        </div><!-- End .select-custom -->

                                        <label for="size">Storage:</label>
                                        <div>
                                            <input value="<%= product.storage %>" style="width: 30px;" class="form-control" readonly>
                                        </div><!-- End .select-custom -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="details-filter-row details-row-size gap">
                                        <label for="qty">Qty:</label>
                                        <% if (product.stock < 5) { %>
                                            <div class="product-details-quantity">
                                                <input type="number" id="qty" class="form-control" value="1" min="1" max="<%= product.stock %>" step="1" data-decimals="0" required>
                                            </div><!-- End .product-details-quantity -->
                                        <% } else { %>
                                            <div class="product-details-quantity">
                                                <input type="number" id="qty" class="form-control" value="1" min="1" max="5" step="1" data-decimals="0" required>
                                            </div><!-- End .product-details-quantity -->
                                        <% } %>

                                        <% if (product.stock <= 8) { %>
                                            <% if (product.stock == 0) { %>
                                                <p style="color: rgb(198, 55, 7); margin-left: 3em; font-weight: 500;" class="ml-7">Out of Stock</p>
                                            <% } else { %>
                                                <p style="color: rgb(209, 160, 38); margin-left: 3em; font-weight: 500;" class="ml-7">Only Few Left</p>
                                            <% } %>
                                        <% } else if (product.stock > 8) { %>
                                            <p style="color: rgb(27, 180, 27); margin-left: 3em; font-weight: 500;" class="ml-7">In Stock</p>
                                        <% } %>
                                    </div><!-- End .details-filter-row -->

                                    <div class="product-details-action">
                                        <% if (product.stock == 0) { %>
                                            <button onclick="productAddToCart('<%= product._id %>', document.getElementById('qty').value)" class="disabled-button" disabled><span>add to cart</span></button>
                                        <% } else { %>
                                            <button class="btn-product btn-cart" onclick="productAddToCart('<%= product._id %>', document.getElementById('qty').value)"><span>add to cart</span></button>
                                        <% } %>

                                        <div class="details-action-wrapper" >
                                            <button class="btn-product btn-wishlist px-5 py-2 border border-primary" style="text-decoration: none;" title="Wishlist" onclick="productAddToWishlist('<%= product._id %>')" ><span>Add to Wishlist</span></button>
                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#"><%= product.category %></a>
                                        </div><!-- End .product-cat -->

                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">Share:</span>
                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                        </div>
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->
                </div><!-- End .container -->

                <div class="product-details-tab product-details-extended">
                    <div class="container">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <!-- <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link active" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                            </li>
                        </ul>
                    </div><!-- End .container -->

                    <div class="tab-content">
                        <div class="tab-pane fade show" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <div class="product-desc-row bg-image"  style="background-color: #939393;">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-sm-6 col-lg-4">
                                                <h2>Product Information</h2>
                                                          
                                            </div><!-- End .col-lg-4 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .container -->
                                </div><!-- End .product-desc-row -->
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade show active" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                            <div class="product-desc-content">
                                <div class="container">
                                    <h3>Information</h3>
                                    <div class="product-content">
                                        <p><%= product.description %>. </p>
                                    </div><!-- End .product-content -->  
                                </div><!-- End .container -->
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                            <div class="product-desc-content">
                                <div class="container">
                                    <h3>Delivery & returns</h3>
                                    <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="/profile">Delivery information</a><br>
                                    We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="/profile">Returns information</a></p>
                                </div><!-- End .container -->
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                            <div class="reviews">
                                <div class="container">
                                    <h3>Reviews (2)</h3>
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">Samanta J.</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">6 days ago</span>
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <h4>Good, perfect size</h4>

                                                <div class="review-content">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
                                                </div><!-- End .review-content -->

                                                <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                </div><!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->

                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">John Doe</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">5 days ago</span>
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <h4>Very good</h4>

                                                <div class="review-content">
                                                    <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                                </div><!-- End .review-content -->

                                                <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                </div><!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->
                                </div><!-- End .container -->
                            </div><!-- End .reviews -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .product-details-tab -->

                <% if (relatedProducts.length == 0) { %>
                <% } else { %>
                <div class="container">
                    <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <% for (let i = 0; i < relatedProducts.length; i++) { %>
                            <div class="product product-7">
                                <figure class="product-media">
                                    <span class="product-label label-new">New</span>
                                    <a href="/product?id=<%= relatedProducts[i]._id %>&photoNumber=0">
                                        <img src="/assets/images/productImages/<%= relatedProducts[i].product_image[0] %>" alt="Product image" class="product-image">
                                    </a>
    
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action-vertical -->
    
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->
    
                                <div class="product-body">
                                    <!-- <div class="product-cat">
                                        <a href="#"><%= relatedProducts[i].category %></a> -->
                                    <!--</div> End .product-cat -->
                                    <h3 class="product-title"><a href="product.html"><%= relatedProducts[i].name %> </a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        ₹ <%= relatedProducts[i].price %>
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 2 Reviews )</span>
                                    </div><!-- End .rating-container -->
    
                                    <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #7fc5ed;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #e8c97a;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        <%  } %>
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
                <% } %>
            </div><!-- End .page-content -->
        </main><!-- End .main -->

            <%- include('../userLayouts/pageFooter.ejs') %>

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    
    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <script>

        function productAddToWishlist(productId) {
            fetch('/addToWishlist', { // Corrected URL to include userId in the route
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId: productId }),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if(data.message == 'Failed') {
                        console.log('user Not Found')
                    } else if (data.message === 'Already Exists') {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Product Already in Wishlist',
                            text: 'The selected product is already in your wishlist.',
                            confirmButtonText: 'OK',
                            confirmButtonColor: '#3085d6',
                        });
                    } else if (data.message === 'Product Exist In Cart') {
                        Swal.fire({
                            icon: 'warning',
                            title: 'You can"t add this Product to Cart',
                            text: 'Product Already Exist in the Cart',
                            confirmButtonText: 'OK',
                            confirmButtonColor: '#3085d6',
                        });
                    } else if (data.message === 'Success') {
                        Swal.fire({
                            icon: 'success',
                            title: 'Product Added to Wishlist',
                            text: 'The selected product has been added to your wishlist.',
                            confirmButtonText: 'OK',
                            confirmButtonColor: '#3085d6',
                            showCancelButton: true,
                            cancelButtonText: 'Go to Wishlist',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Reload the page after the user closes the success alert
                                window.location.reload();
                            } else {
                                // Navigate to the wishlist page
                                window.location.href = '/wishlist'; // Update with the actual URL of your wishlist page
                            }
                        });
                    };
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        };

        function productAddToCart (productId, qty) {
            fetch('/addToCart', { // Corrected URL to include userId in the route
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId, qty}),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if(data.message == 'Failed') {
                        console.log('user Not Found')
                    } else if (data.message === 'Already Exists') {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Product Already in Cart',
                            text: 'The selected product is already in your Cart.',
                            confirmButtonText: 'OK',
                            confirmButtonColor: '#3085d6',
                        });
                    } else if (data.message === 'Not Enough Product') {
                        Swal.fire({
                            icon: 'warning',
                            title: 'There Has Only few Stocks left',
                            text: 'Try selecting a small quantity',
                            confirmButtonText: 'OK',
                            confirmButtonColor: '#3085d6',
                        });
                    } else if (data.message === 'Success') {
                        Swal.fire({
                            icon: 'success',
                            title: 'Product Added to Cart',
                            text: 'The selected product has been added to your Cart.',
                            confirmButtonText: 'OK',
                            confirmButtonColor: '#3085d6',
                            showCancelButton: true,
                            cancelButtonText: 'Go to Cart',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Reload the page after the user closes the success alert
                                window.location.reload();
                            } else {
                                // Navigate to the wishlist page
                                window.location.href = '/cart'; // Update with the actual URL of your wishlist page
                            }
                        });
                    };
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        };

        document.addEventListener('DOMContentLoaded', function() {
            const mainImageContainer = document.getElementById('main-image');

            mainImageContainer.addEventListener('mousemove', function(event) {
                const rect = mainImageContainer.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
                const image = mainImageContainer.querySelector('img');
                const offsetX = (x / rect.width) * 100;
                const offsetY = (y / rect.height) * 100;
                image.style.transformOrigin = `${offsetX}% ${offsetY}%`;
            });
        });


    </script>

<%- include('../userLayouts/footer.ejs') %>