    
    <%- include('../adminLayouts/header.ejs') %>

        <%- include('../adminLayouts/pageHeader.ejs') %>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Dashboard</h2>
                        <p>Whole data about your business here</p>
                    </div>
                    <div>
                        <a href="/admin/salestatistics" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Revenue</h6>
                                    <span>₹<%= fullRevenue %>.00</span>
                                    <span class="text-sm"> Shipping fees are not included </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Orders</h6>
                                    <span><%= orders.length %></span>
                                    <span class="text-sm"> Excluding orders in transit </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Products</h6>
                                    <span><%- product.length %></span>
                                    <span class="text-sm"> In <%- categories.length %> Categories </span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-body mb-4">
                            <article class="icontext">
                                <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                                <div class="text">
                                    <h6 class="mb-1 card-title">Monthly Earning</h6>
                                    <span>₹6,982</span>
                                    <span class="text-sm"> Based in your local time. </span>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card mb-4">
                            <article class="card-body">
                                <h5 class="card-title">Sale statistics</h5>
                                <div class="filters">
                                    <button onclick="updateChart('daily')" id="daily">Daily</button>
                                    <button onclick="updateChart('weekly')" id="weekly">Weekly</button>
                                    <button onclick="updateChart('monthly')" id="monthly" class="active">Monthly</button>
                                    <button onclick="updateChart('yearly')" id="yearly">Yearly</button>
                                </div>
                                <canvas id="myChart" height="120"></canvas>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <h4 class="card-title">Latest orders</h4>
                    </header>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="align-middle" scope="col">Order ID</th>
                                            <th class="align-middle" scope="col">Billing Name</th>
                                            <th class="align-middle" scope="col">Date</th>
                                            <th class="align-middle" scope="col">Total</th>
                                            <th class="align-middle" scope="col">Order Status</th>
                                            <th class="align-middle" scope="col">Payment Status</th>
                                            <th class="align-middle" scope="col">Payment Method</th>
                                            <th class="align-middle" scope="col">View Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (latestOrders.length != 0) { %>
                                            <% latestOrders.forEach((order, index) => { %>
                                                <tr>
                                                    <td><a href="#" class="fw-bold">#<%= orderIds[index] %></a></td>
                                                    <td><%= order.user.name %></td>
                                                    <td><%= orderDate[index] %></td>
                                                    <td>₹ <%= order.order_total %></td>
                                                    <td>
                                                        <% if (order.order_status == 'cancelOrder') { %>
                                                            <span class="badge badge-pill badge-soft-danger">Cancelled</span>
                                                        <% } else if (order.order_status == 'returnOrder') { %>
                                                            <span class="badge badge-pill badge-soft-warning">Returned</span>
                                                        <% } else if (order.order_status == 'Delivered') { %>
                                                            <span class="badge badge-pill badge-soft-success"><%= order.order_status %></span>
                                                        <% } else { %>
                                                            <span class="badge badge-pill badge-soft-info"><%= order.order_status %></span>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (order.payment_status == 'Paid') { %>
                                                            <% if (order.order_status == 'cancelOrder' || order.order_status == 'returnOrder') { %>
                                                                <span class="badge badge-pill badge-soft-danger">Refunded</span>
                                                            <% } else { %>
                                                                <span class="badge badge-pill badge-soft-success">Paid</span>
                                                            <% } %>
                                                        <% } else if (order.payment_status == 'COD') { %>
                                                            <span class="badge badge-pill badge-soft-warning">Pending</span>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (order.payment_type == 'payment-cod') { %>
                                                            <i class="font-xxl text-muted mr-5"></i> Cash on Delivery
                                                        <% } else if (order.payment_type == 'payment-razorpay') { %>
                                                            <i class="font-xxl text-muted mr-5"></i> Razor pay
                                                        <% } else if (order.payment_type == 'payment-wallet') { %>
                                                            <i class="font-xxl text-muted mr-5"></i> Wallet
                                                        <% } else { %>
                                                            <i class="font-xxl text-muted mr-5"></i> Unknown Source
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <a href="/admin/orderdetail?orderId=<%= order._id %>" class="btn btn-xs"> View details</a>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } else { %>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- table-responsive end// -->
                    </div>
                </div>
            </section>
            <!-- content-main end// -->
            
            <%- include('../adminLayouts/pageFooter.ejs') %>

        <script>
            let chart;
            const ctx = document.getElementById('myChart').getContext('2d');
        
            async function fetchData(filter) {
                // Mock API response
                const response = await fetch(`/admin/sales-data?filter=${filter}`);
                const data = await response.json();
                return data;
            }
        
            async function updateChart(filter) {
                const data = await fetchData(filter);
        
                chart.data.labels = data.labels;
                chart.data.datasets[0].data = data.data;
                chart.update();
        
                // Update active button
                document.querySelectorAll('.filters button').forEach(button => {
                    button.classList.remove('active');
                });
                document.getElementById(filter).classList.add('active');
            }
        
            function createChart(data) {
                chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Sales',
                            data: data.data,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    precision: 0 // Set precision to 0 to display integer values only
                                }
                            }
                        }
                    }
                });
            };
        
            window.addEventListener('load', async () => {
                const initialData = await fetchData('monthly'); // Fetch initial data
                createChart(initialData); // Initialize chart with initial data
            });
            
        </script>
            

        <style>
            .filters {
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
            }
            .filters button {
                background-color: #007bff;
                color: white;
                border: none;
                padding: 10px 20px;
                margin: 0 5px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
            }
            .filters button:hover {
                background-color: #0056b3;
            }
            .filters button.active {
                background-color: #0056b3;
            }
        </style>

    <%- include('../adminLayouts/footer.ejs') %>

