
<%- include('../adminLayouts/header.ejs') %>

<%- include('../adminLayouts/pageHeader.ejs') %>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                        <p>All the Orders User Placed.</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Search order ID" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (orders.length == 0) { %>
                                        <p>No Orders Placed</p>
                                    <% } else { %>
                                        <% for (let i = 0; i < orders.length; i++) { %>
                                            <tr>
                                                <td><b><%= orders[i].user.name %></b></td>
                                                <td><%= orders[i].user.email %></td>
                                                <td>₹ <%= orders[i].order_total %>.00</td>
                                                <% if ( orders[i].order_status == 'Pending') { %>
                                                    <td><span class="badge rounded-pill alert-warning">Pending</span></td>
                                                <% } else if ( orders[i].order_status == 'Placed') { %>  
                                                    <td><span class="badge rounded-pill alert-success">Placed</span></td>
                                                <% } else if ( orders[i].order_status == 'cancelOrder') { %>  
                                                        <td><span class="badge rounded-pill alert-danger">Order Cancelled</span></td>
                                                <% } else if ( orders[i].order_status == 'returnOrder') { %>  
                                                    <td><span class="badge rounded-pill alert-warning">Order Returned</span></td>
                                                <% } else { %>
                                                    <td><span class="badge rounded-pill alert-info"><%= orders[i].order_status %></span></td>
                                                <% } %>
                                                <td><%= orders[i].created_at.getDate() %>.<%= orders[i].created_at.getMonth() %>.<%= orders[i].created_at.getFullYear() %></td>
                                                <td class="text-end">
                                                    <a href="/admin/orderdetail?orderId=<%= orders[i]._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                                    <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                        <div class="dropdown-menu">
                                                            <!-- <a class="dropdown-item" href="#">Edit info</a> -->
                                                            <a class="dropdown-item text-danger" onclick="deleteOrder('<%= orders[i]._id %>')">Delete</a>
                                                        </div>
                                                    </div>
                                                    <!-- dropdown //end -->
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% if (pagination.previous) { %>
                                <li ><a class="page-link" href="/admin/orderlist?page=<%= pagination.previous.page %>">Previous</a></li>
                            <% } else { %>
                                <li class="disabled"><a class="page-link" href="#">Previous</a></li>
                            <% } %>
                            <% for (let i = 1; i <= pagination.totalPages; i++) { %>
                                <li class="page-item <% if (i === pagination.currentPage) { %>active<% } %>"><a class="page-link" href="/admin/orderlist?page=<%= i %>"><%= i %></a></li>
                            <% } %>
                            <% if (pagination.next) { %>
                                <li ><a class="page-link" href="/admin/orderlist?page=<%= pagination.next.page %>">Next</a></li>
                            <% } else { %>
                                <li class="disabled"><a class="page-link" href="#">Next</a></li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->

            <%- include('../adminLayouts/pageFooter.ejs') %>

            <script>

            function deleteOrder(orderId) {
                // Show a confirmation dialog using SweetAlert
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Once deleted, you will not be able to recover this order!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        // User confirmed the deletion, proceed with the fetch request
                        fetch('/admin/orderlist', {
                            method: 'post',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ orderId: orderId }),
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.message === 'Failed') {
                                console.log('User not found');
                            } else {
                                window.location.reload();
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        // User clicked on "Cancel" or outside the modal
                        Swal.fire('Cancelled', 'The order deletion was cancelled', 'error');
                    }
                });
            };


            </script>

        <%- include('../adminLayouts/footer.ejs') %>