
<%- include('../adminLayouts/header.ejs') %>

<%- include('../adminLayouts/pageHeader.ejs') %>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order detail</h2>
                        <p>Details for Order ID: <%= pageOrderId %></p>
                    </div>
                </div>
                <div class="card">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                <span> <i class="material-icons md-calendar_today"></i> <b><%- formatconvertedDate %></b> </span> <br />
                                <small class="text-muted">Order ID: <%= pageOrderId %></small>
                            </div>
                            <% if ( orderData.order_status != 'cancelOrder' ) { %>
                                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                    <span>Order Status : <span class="text-success">Order Delivered</span></span>
                                </div>
                                <% if (orderData.order_status == 'Delivered') { %>
                                <% } else { %>
                                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                        <select id="orderStatus" onchange="updateOrderStatus('<%= orderData._id %>', this.value)" class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                                            <option value="pending" <%= orderData.order_status == "Pending" ? "selected" : "" %> >Pending</option>
                                            <option value="confirmed" <%= orderData.order_status == "Confirmed" ? "selected" : "" %> >Confirmed</option>
                                            <option value="shipped" <%= orderData.order_status == "Shipped" ? "selected" : "" %> >Shipped</option>
                                            <option value="delivered" <%= orderData.order_status == "Delivered" ? "selected" : "" %> >Delivered</option>   
                                        </select>
    
                                        <a class="btn btn-danger" onclick="cancelOrder('<%= orderData._id %>')" >Cancel Order</a>
                                    </div>
                                <% } %>
                            <% } else { %>
                                <% if ( orderData.payment_type != 'payment-cod' ) { %>
                                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                    <span>Order Status : <span>Order Cancelled</span></span>
                                    <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                                </div>
                                <% } else { %>
                                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                        <span>Order Status : <span>Order Cancelled</span></span>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="row mb-50 mt-20 order-info-wrap">
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Customer</h6>
                                        <p class="mb-1">
                                            <%= orderData.address.name %> <br />
                                            <%= orderData.user.email %> <br />
                                            +91 <%= orderData.address.mobileNumber %>
                                        </p>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-local_shipping"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Order info</h6>
                                        <p class="mb-1">
                                            Shipping: Fargo express <br />
                                            <% if (orderData.payment_type == 'payment-razorpay') { %>
                                                Pay method: online payment <br />
                                            <% } else if (orderData.payment_type == 'payment-cod') { %> 
                                                Pay method: cash on delivery <br />
                                            <% } else { %>
                                                Pay method: wallet   <br />
                                            <% } %>
                                        </p>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-place"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Deliver to</h6>
                                        <p class="mb-1">
                                            City: <%= orderData.address.city %>, <%= orderData.address.state %> <br />
                                            <%= orderData.address.locality %>, <% orderData.address.locality == null ? orderData.address.locality = null : orderData.address.locality; %> <br />
                                            Pin No : <%= orderData.address.pincode %>
                                        </p>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                        </div>
                        <!-- row // -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="40%">Product</th>
                                                <th width="20%">Unit Price</th>
                                                <th width="20%">Quantity</th>
                                                <th width="20%" class="text-end">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% orderData.products.forEach((product, index) => { %>
                                                <tr>
                                                    <td>
                                                        <a class="itemside" href="#">
                                                            <div class="left">
                                                                <img src="/assets/images/productImages/<%= orderData.products[index].product.product_image[0] %>" width="40" height="40" class="img-xs" alt="Item" />
                                                            </div>
                                                            <div class="info"><%= orderData.products[index].product.name %></div>
                                                        </a>
                                                    </td>
                                                    <td>₹ <%= orderData.products[index].product.price %>.00</td>
                                                    <td><%= orderData.products[index].quantity %></td>
                                                    <td class="text-end">₹ <%= orderData.products[index].product.price * orderData.products[index].quantity %>.00</td>
                                                </tr>
                                            <% }) %>
                                            <tr>
                                                <td colspan="4">
                                                    <article class="float-end">
                                                        <% if (orderData.discount_price !== 0) { %>
                                                            <dl class="dlist">
                                                                <dt>Subtotal:</dt>
                                                                <dd>₹ <%= orderData.order_total + orderData.discount_price %>.00</dd>
                                                            </dl>
                                                            <dl class="dlist">
                                                                <dt>Shipping cost:</dt>
                                                                <dd>₹ <%= orderData.discount_price %>.00</dd>
                                                            </dl>
                                                        <% } else { %>
                                                            <dl class="dlist">
                                                                <dt>Subtotal:</dt>
                                                                <dd>₹ <%= orderData.order_total %>.00</dd>
                                                            </dl>
                                                        <% } %>
                                                        <dl class="dlist">
                                                            <dt>Grand total:</dt>
                                                            <dd><b class="h5">₹ <%= orderData.order_total %>.00</b></dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt class="text-muted">Status:</dt>
                                                            <% if (orderData.payment_status == 'Paid') { %>
                                                                <dd>
                                                                    <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                                </dd>
                                                            <% } else if (orderData.payment_status == 'pending') { %> 
                                                                <dd>
                                                                    <span class="badge rounded-pill alert-warning text-warning">Payment Pending</span>
                                                                </dd>
                                                            <% } else { %>
                                                                <% if (orderData.order_status == 'cancelOrder') { %>
                                                                    <dd>
                                                                        <span class="badge rounded-pill alert-danger text-danger">Payment Refunded</span>
                                                                    </dd>
                                                                <% } else { %>
                                                                    <dd>
                                                                        <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                                    </dd>
                                                                <% } %>
                                                            <% } %>
                                                            
                                                        </dl>
                                                    </article>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- table-responsive// -->
                            </div>
                            <!-- col// -->
                            <!-- <div class="col-lg-1"></div> -->
                            <!-- <div class="col-lg-4">
                                <div class="box shadow-sm bg-light">
                                    <h6 class="mb-15">Payment info</h6>
                                    <p>
                                        <img src="assets/imgs/card-brands/2.png" class="border" height="20" /> Master Card **** **** 4768 <br />
                                        Business name: Grand Market LLC <br />
                                        Phone: +1 (800) 555-154-52
                                    </p>
                                </div>
                                <div class="h-25 pt-4">
                                    <div class="mb-3">
                                        <label>Notes</label>
                                        <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                    </div>
                                    <button class="btn btn-primary">Save note</button>
                                </div>
                            </div> -->
                            <!-- col// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
            </section>
            <!-- content-main end// -->

            <%- include('../adminLayouts/pageFooter.ejs') %>

            <script>
                function updateOrderStatus ( orderDataId, updatingStatus) {
                    fetch('/admin/orderdetail', { 
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ orderDataId: orderDataId, updatingStatus: updatingStatus }),
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if(data.message == 'Failed') {
                            console.log('user Not Found')
                        } else {
                            window.location.reload();
                        };
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                };



                function cancelOrder(OrderId) {
                    console.log('Here in admin cancelOrder ')
                    Swal.fire({
                        title: 'Are you sure you want to cannsel this order?',
                        text: 'Once cancelled, you will not be able to recover it!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, cancel it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            console.log('Here in admin cancelOrder - confirmed', OrderId)
                            fetch('/admin/cancelOrderAdmin', {
                                method: 'post',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ OrderId: OrderId }),
                            })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                            .then(data => {
                                if(data.message == 'Success') {
                                    Swal.fire({
                                        title: 'Success!',
                                        text: 'Order has been deleted successfully.',
                                        icon: 'success'
                                    }).then(() => {
                                        window.location.reload();
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Error!',
                                        text: 'Failed to delete order.',
                                        icon: 'error'
                                    }).then(() => {
                                        window.location.reload();
                                    });
                                };
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        };
                    });
                };
        
            </script>

        <%- include('../adminLayouts/footer.ejs') %>